nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loader-box{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: var(--brown);
  font-family: playfair;
}
.feature-header-ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
}

.feature-header-ul img {
  height: 19px;
}

.wrpper-container {
  max-width: 1123px;
  margin: auto;
}

.hero-banner {
  position: relative;
  margin-top: 65px;
}

.hero-banner img {
  width: 100%;
  object-fit: fill;
}

.header {
  position: fixed;
  background-color: #fff;
  padding: 20px 0;
  transition: transform 0.3s ease;
  z-index: 1200;
  width: 100%;
  top: 0;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);;
}

 
a.brand.Playfair {
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}
.humburger {
    height: 24px;
    width: 24px;
    position: relative;
}

.humburger-span {
    position: absolute;
    height: 3px;
    background: var(--brown);
    transition: .3s all;
}

.humburger-span-1 {
    width: 16px;
    right: 2px;
    top: 0;
    cursor: pointer;
}
 
.active-button.humburger .humburger-span-3, .active-button.humburger .humburger-span-1 {
    width: 100%;
    top: 50%;
}

.active-button.humburger .humburger-span-1 {
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.active-button.humburger .humburger-span-3 {
  transform: translateY(-50%) rotate(-45deg);
  left: 0;
}

.active-button.humburger .humburger-span-2 {
    opacity: 0;
    right: -100%;
}

.humburger-span-3 {
    width: 16px;
    left: 2px;
    bottom: 0;
}

.humburger-span-2 {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
 
/* category page css */
.cotegory-card {
  opacity: 0;
  transform: translateY(0px);
}

.category-img img {
  opacity: 0;
  transform: translateY(100%);
}

.cat-title {
  opacity: 0;
  transform: translateY(100%);
}

.cotegory-row.row {
  display: flex;
  justify-content: space-around;
  padding: 68px 0;
}

.category-img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  overflow: hidden;
}

.cotegory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.cat-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}
.MS {
  background: #F1DBE9;
}
.WW {
  background: #DDD3EB;
}

.WC {
  background: #D3EAEB;
}

.HTS {
  background: #EFF1D9;
}

.PNTC {
  background: #F1DADB;
}

.FSTS {
  background: #D9F1DE;
}

/* category page css */


/* offer 1 css */
section.offer1-section {
  padding:0 0 68px 0;
}
.offer1-row.row {
  display: grid;
  grid-template-areas:
      'img1 img1 img1 img2 img2 img2'
      'img3 img3 img4 img4 img5 img5 ';
  gap: 20px;
}

.image1 {grid-area: img1;}

.image2 {
  grid-area: img2;
}

.image3 {
  grid-area: img3;
}

.image4 {
  grid-area: img4;
}

.image5 {
  grid-area: img5;
}

.offer1-image img {
  width: 100%;
}

/* offer 1 css end */


/* trending tshirt css */
.heading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
  position: relative;
}

.heading-box h3 {
  font-size: 36px;
  font-weight: 600;
  color: var(--text);
  line-height: 50px;
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 0 25px;
}
.divider {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f5f5f5;
  top: 59%;
  transform: translateY(-50%);
}
.Trending-image {
  position: relative;
  height: 413px;
  width: 264px;
  overflow: hidden;
}
.viwe-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-btn {
  height: 48px;
  background: var(--brown);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  width: 170px;
  line-height: 48px;
  margin-top: 48px;
  transition: .3s all;
  border: 1px solid transparent;
}

.view-all-btn:hover {
  color: var(--brown);
  border: 1px solid var(--brown);
  background: transparent;
}
.Trending-image img {
  height: 100%;
  width: 100%;
  transition: .3s all;
}

.Trending-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .3s ease;
}
.Trending-card {
  text-align: center;
  flex: 1 0 264px;
  transition: .3s all;
}
.trending-img{
  transition: .3s all;
}
.Trending-card:hover .trending-img{
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.Trending-overlay a {
  height: 54px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  position: relative;
  opacity: 0;
  left: -6px;
  transition: .3s ease;

}
.Trending-card:hover a {
  opacity: 1;
  left: 0;
}
.Trending-overlay a img {
  height: 25px;
  width: 25px;
}

.size-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
  gap: 14px;
}

.size-list li {
  height: 36px;
  width: 36px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 36px;
}
.trending-card-content-title {
    font-size: 14px;
    max-width: 56%;
    margin: auto;
}
.Trending-row.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px 22px;
}
.card-prize s {
    color: #F00;
    font-size: 10px;
    margin-left: 5px;
}

.card-prize strong {
    font-size: 18px;
}

.card-prize {
    margin: 10px 0;
}

.trending-card-content {
    padding: 10px 0;
}
/* trending tshirt css end */

/* addbanner 1 css */

section.add-banner-section {
  background: #e1ab7f;
  position: relative;
  min-height: 526px;
  overflow: hidden;
  padding-top: 20px;
}

.add-image {
  position: absolute;
  right: 5%;
  top: 5%;
  height: 500px;
}

.add-content {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 640px;
  position: relative;
}

.add-banner-section .wrpper-container {
  height: 487px;
}

.rectengle1 {
  position: relative;
  z-index: 2;
  height: 60px;
  width: 50px;
  background: #cf8246c7;
}

.rectengle2 {
  height: 140px;
  width: 140px;
  background: #edc9ab;
  position: relative;
  top: -20px;
  left: 20px;
}

.content-add {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 85%;
}

.content-add p.Script {
  font-size: 53px;
}

.brab-btn {
  display: inline-block;
  padding: 7px 20px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  background: #a64d12;
  border-radius: 12px;
  font-size: 14px;
}
/* addbanner 1 css end */



/* collection css start */

.row {
  display: flex;
}

.collection-card {
  max-width: 360px;
  max-height: 433px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: red;
}

.collection-text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(137deg, rgba(255, 255, 255, 0.40) 0.55%, rgba(255, 255, 255, 0.01) 100%);
  backdrop-filter: blur(32px);
  color: #fff;
  height: 68px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection-row {
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: space-between;
}


/* collection css End */
.collection-add-banner {
  margin: 50px 0;
}
.collection-add-banner img {
  width: 100%;
  height: 100%;
}
.collection-card.collection-card-1 {
  background: #06B8A6;
}

.collection-card.collection-card-2 {
  background: #80E8FF;
}

.collection-card.collection-card-3 {
  background: #DC493A;
}

.collection-card.collection-card-4 {
  background: #D7B2FF;
}

.collection-card.collection-card-5 {
  background: #F0BC8C;
}

.collection-card.collection-card-6 {
  background: #4392F1;
}

/* offer section css start */
.collection-add-banner img {
  width: 100%;
  height: 100%;
}

section.collection-add-banner {
  margin: 68px 0;
  overflow: hidden;
}

.offer-card {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.offer-row {
  gap: 20px;
}

.offer-card.diamond {
  background: #CCCEA7;
}

.offer-title,.sale {
  font-size: 36px;
  color: var(--text);
  font-weight: 600;
}

.offer-Off {
  font-size: 86px;
  font-weight: 600;
  color: var(--text);
  margin: 22px 0;
}
.offer-icon-box {
    height: 173px;
    width: 172px;
    margin: auto auto 48px auto;
    position: relative;
    overflow: hidden;
}
.diamond2{
  background: #D6BEBE;
}

img.offer-icon {
    position: relative;
}

.offer-btn {
    max-width: 170px;
    width: 100%;
    height: 48px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
/* offer section css End */


/* suppoprt section css start */
img.support-icon {
  height: 65px;
}

.support-col {
  max-width: 367px;
  width: 100%;
  border-right: 2px solid #FFC7D1;
}

.support-content {
  display: flex;
  justify-content: center;
  animation: c;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.support-col.support-col4 {
  border: 0;
}

section.support-section {
  padding: 50px 0;
  background: #F5F4F2;
  margin: 68px 0;
  position: relative;
}

.support-title {
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
}
.circle-suppor {
  position: absolute;
  height: 219px;
  width: 100px;
  background: url('../public/image/circle.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.circle-suppor.circle-left {
  left: 0;
  transform: rotate(180deg);
  bottom: -100px;
}

.circle-suppor.circle-right {
  right: 0;
  top: -100px;
}
/* suppoprt section css end*/


/* subscribe section css */

.subscribe-wrapper {
  padding: 65px 0;
  background: var(--brown);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.subscribe-wrapper h4 {
  font-size: 36px;
  max-width: 706px;
  text-align: center;
  line-height: 48px;
  font-weight: 600;
  font-family: 'Playfair Display';
}

form.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 645px;
  background: rgba(255, 255, 255, 0.32);
}

input.form-control {
  background: transparent;
  height: 50px;
  padding: 10px 20px;
  width: 100%;
  border: 0;
  color: #fff;
  outline: none;
  font-size: 16px;
  font-family: 'Montserrat';
}

button.Subscribe-btn {
  height: 55px;
  width: 171px;
  border: 0;
  border-radius: 0;
  background: #fff;
  color: #770015;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

input.form-control::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat';
}
.subscribe-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 300px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 100%;
}

.subscribe-wrapper::before {
  content: '';
  position: absolute;
  top: -67px;
  right: -150px;
  height: 100%;
  width: 300px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 100%;
}

/* subscribe section css end */
/* footer css */

.content-fText {
  font-size: 14px;
  line-height: 24px;
  color: var(--text);
  font-weight: 500;
}

.footer-col-1 {
  max-width: 360px;
}

ul.social-list {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 24px;
}

.footer-title {
  font-size: 18px;
  color: var(--brown);
  line-height: 28px;
  margin-bottom: 14px;
}

.footer-col-2 {
  max-width: 170px;
  width: 100%;
}

ul.footer-ul li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  transition: .3s all;
}

.footer-col-3 {
  max-width: 205px;
  width: 100%;
}

.address {
  line-height: 28px !important;
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.address-ul li:nth-child(1) .address img {
  margin-top: 6px;
}

.address-ul {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.row.footer-row {
  gap: 30px;
}
section.footer {
  padding: 60px 0;
  margin-top: 68px;
  border-top: 1px solid #ddd;
}

ul.footer-ul li a:hover {
  color: var(--brown);
}

/* footer css */

/* responsive css */

@media only screen and (max-width:1250px) {
  .wrpper-container {
    max-width: 100%;
    width: 95%;
}
.Trending-row.row{
  justify-content: space-between;
}
.circle-suppor {
  height: 160px;
  width: 82px;
}
.circle-suppor.circle-right {
  top: -70px;
}
.circle-suppor.circle-left {
  bottom: -70px;
}
.support-col {
  max-width: 220px;
}
img.support-icon {
  height: 50px;
}
.support-content{
  gap: 15px;
}
.Trending-card {
  flex: 1 0 220px;
  max-width: 240px;

}
.Trending-image {
  width: 100%;
  height: auto;
}
.trending-card-content-title {
  max-width: 77%;
  margin: auto;
}
.support-row.row{
  justify-content: center;
}
}
@media only screen and (max-width:1180px) {
  .collection-card {
    max-width: 100%;
    max-height: initial;
    flex: 1 0 269px;
}
.collection-card img {
  height: 100% !important;
  width: 100%;
}
.footer-col-1 {
  max-width: 280px;
}
}

@media only screen and (max-width:1100px) {
  .category-img {
    height: 130px;
    width: 130px;
  }
  .address {
    line-height: 21px !important;
  }
  .category-img img{
    height: 100%;
  }
  .cotegory-row.row {
    padding: 27px 0 40px;
}
.Trending-card {
  flex: 1 0 200px;
  max-width: 200px;
}
.size-list {
  gap: 7px;
}

.size-list li {
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 11px;
  font-weight: 600;
}
}
@media only screen and (max-width:992px) {
  .offer-icon-box {
    height: 120px;
    width: 120px;
    margin: auto auto 26px auto;
  }
  .row.footer-row {
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col-1 {
    width: 100%;
    max-width: 100%;
}

.footer-col.footer-col-4 {
    max-width: 360px;
}
  img.offer-icon {
    height: 100%;
    width: 100%;
  }
  .offer-Off {
    font-size: 60px;
    font-weight: 600;
  }
  .offer-title, .sale {
    font-size: 25px;
  }
  .offer-row {
    justify-content: space-between;
}
.circle-suppor {
  height: 100px;
  width: 40px;
}
.circle-suppor.circle-right {
  top: -50px;
}
.circle-suppor.circle-left {
  bottom: -50px;
}
img.support-icon {
  height: 38px;
}
.support-title {
  font-weight: 600;
  font-size: 13px;
}
.support-content {
  gap: 10px;
}
.support-col {
  max-width: 170px;
}
section.offer1-section {
  padding: 0 0 25px 0;
}
.heading-box {
  margin-bottom: 25px;
}
.heading-box h3 {
  font-size: 25px;
}
.trending-card-content-title {
  max-width: 90% !important;
  font-size: 12px;
  font-weight: 500;
}
.featured-section {
  padding: 25px 0 !important;
}
.view-all-btn {
  height: 32px;
  width: 130px;
  font-weight: 500;
  font-size: 13px;
  line-height: 32px;
  margin-top: 24px;
}
.category-img {
  height: 100px;
  width: 100px;
}
.cotegory-card {
  gap: 12px;
}
.cat-title {
  font-size: 13px;
}
.Trending-overlay a {
  height: 35px;
  width: 35px;
}
.Trending-overlay a img {
  height: 17px;
  width: 17px;
}
}

@media only screen and (max-width:912px) {
  .Trending-card {
    flex: 1 0 160px;
    max-width: 170px;
}
.add-image {
  right: 0%;
}
.content-add p.Script {
  font-size: 25px;
  margin: 7px 0;
}
.rectengle2 {
  height: 90px;
  width: 90px;
}
.rectengle1 {
  height: 40px;
  width: 30px;
}
.add-content {
  max-width: 420px;
}
.add-content-title {
  font-size: 16px;
}
.brab-btn {
  padding: 5px 13px;
  font-size: 10px;
}
}

@media only screen and (max-width:837px) {
  .footer-col.footer-col-4 {
    max-width: 299px;
}
.row.footer-row {
  gap: 30px 20px;
}
}
@media only screen and (max-width:767px) {
  .subscribe-wrapper h4 {
    font-size: 27px;
    max-width: 499px;
  }
  .footer-col {
    flex: 1 0 264px;
    max-width: 50%;
}
.row.footer-row {
    justify-content: start;
}
  form.subscribe-form {
    width: 401px;
  }
  button.Subscribe-btn {
    height: 50px;
    width: 150px;
    font-size: 15px;
  }
}
@media only screen and (max-width:743px) {
  .Trending-card {
    flex: auto;
    max-width: max-content;
}
.Trending-row.row {
  justify-content: center;
  gap:20px
}
.offer-icon-box {
  height: 70px;
  width: 70px;
  margin: auto auto 20px auto;
}
.offer-Off {
  font-size: 43px;
  font-weight: 500;
  margin: 10px;
}
.offer-btn {
  max-width: 140px;
  height: 33px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 16px;
}
.offer-title, .sale {
  font-size: 19px;
  font-weight: 500;
}
.category-img {
  height: 75px;
  width: 75px;
}
}
@media only screen and (max-width:650px) {
 
  .cat-title {
    font-size: 13px;
    text-align: center;
}
.offer-title, .sale {
  font-size: 19px;
  font-weight: 500;
}
.category-img {
  height: 75px;
  width: 75px;
}
.cotegory-row.row {
  flex-wrap: wrap;
  gap: 20px;
}
.category-img {
  height: 120px;
  width: 120px;
}
.cotegory-card {
  flex: 1 0 140px;
}
}

@media only screen and (max-width:576px) {
  .add-image {
    position: relative;
    top: 0;
    right: 0;
    height: 100% !important;
}
.subscribe-wrapper h4 {
  font-size: 17px;
  max-width: 311px;
  line-height: 27px;
}
form.subscribe-form {
  width: 300px;
}
.footer-col {
  max-width: 100%;
}
.offer-Off {
  font-size: 36px;
}
.add-banner-section .wrpper-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.add-content {
  max-width: 100%;
  min-width: 345px;
}
.support-col {
  max-width: 211px;
  flex: 1 0 210px;
  border: 0;
}
.support-row.row {
  flex-wrap: wrap;
  gap: 30px 0;
}
}
@media only screen and (max-width:485px) {
  .offer1-row.row {
    display: flex;
    flex-direction: column;
  }
  .offer-row {
    flex-direction: column;
}
.subscribe-wrapper::before {
  top: -37px;
  right: -50px;
  height: 100%;
  width: 225px;
   
}
.subscribe-wrapper {
  padding: 35px 0;
}
.subscribe-wrapper::after {
  left: -108px;
  height: 100%;
  width: 230px;
}
form.subscribe-form, .subscribe-wrapper h4 {
  width: 90%;
  max-width: fit-content;
}
.offer-card{
  width: 100%;
}
  .feature-header-ul {
    gap: 13px;
}
.category-img {
  height: 70px;
  width: 70px;
}
.cotegory-card {
  flex: 1 0 87px;
}
.cotegory-row.row {
  flex-wrap: wrap;
  gap: 31px 12px;
}
.feature-header-ul img {
  height: 15px;
}
.add-content {
  min-width: 311px;
}
 
}
/* responsive css */